@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');


:root {
  --blue-light: #c7f6ff;
  --gray-ligh: #ededed;
  --yellow: #caf74c;
  --red: #db6847;
  --dark: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}



body {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(199, 246, 255, 1) 100%);
  position: relative;
  cursor: url(../img/cursors/close.png), auto;
}

.overflow-body{
  overflow-y: hidden;
}

/*================================================================================*/
/* HEADER */
/*================================================================================*/


h1, 
h2{
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.minimizar {
  transform: scale(0);
}

.loader {
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(199, 246, 255, 1) 100%);
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  transform: scale(1);
  top: 0;
  left: 0;
  transition: .8s;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px;
  color: var(--dark);


  >.content {

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #c7f6ff63;
    padding: 150px;
    box-shadow: 0 0 20px #0000006e;

    > #load-airplane {
      width: 20rem;
      margin-bottom: 4vh;
      transform: rotate(90deg);
      animation: loader 3s infinite linear;
    }

    >h2 {
      margin-left: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      padding-right: 2px;
      padding-bottom: 30px;
      border-right: 3px solid #000;
      animation: efecto .7s step-end infinite;
    }
  }



}


.swiper .swiper-button-next:hover,
.swiper .swiper-button-prev:hover {
  cursor: url(../img/cursors/pointer.png), auto;
}


@keyframes efecto {
  50% {
    border-color: transparent;
  }
}


@keyframes loader {
  from {
    transform: rotate(-360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

nav {
  padding: 30px 10px !important;
}

h1{
  font-size: 5rem !important;
}

.hero {
  padding: 80px 40px 200px 40px;
}

.title-principal{
  padding: 10px 80px 0 10px !important;
}

.title-principal p {
  margin-bottom: 40px;
}

.viaja-link {
  padding: 8px 40px;
  background: var(--blue-light);
  border-radius: 7px;
  color: var(--dark);
  transition: .5s;
  margin: 10px 0 !important;

  >a {
    text-decoration: none;
    font-weight: 500;
    color: var(--dark);
  }
}


.viaja-link:hover {
  box-shadow: 0px 0px 10px #db6847;
  padding: 12px 48px;
  cursor: url(../img/cursors/pointer.png), auto;
  background: #88d9e9;
}


.swiper {
  max-width: 1220px;
  width: 100%;
  padding-bottom: 80px !important;
}

.card {
  width: 100%;
  margin: 0 auto;
  border-radius: 30px;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  padding: 20px;
  top: 50%;
  --swiper-navigation-size: 25px;
  --swiper-theme-color: #db674779;
  transition: .4s;
}

.swiper .swiper-button-next:hover,
.swiper .swiper-button-prev:hover {
  background: #c7f6ff;
}

.swiper .swiper-button-prev {
  border-radius: 50% 0% 0% 50%;
}

.swiper .swiper-button-next {
  border-radius: 0% 50% 50% 0%;
}

.swiper-pagination-bullet-active {
  background: #db6847 !important;
}


/*================================================================================*/
/* MAIN */
/*================================================================================*/


/* DESTINOS */
#destinos {
  margin-top: 40px;
  padding: 40px;
}

#destinos h2 {
  font-size: 4rem;
}

#destinos p {
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 24px;
}

.caption-carrusel {
  padding: 10px;
  border-radius: 8px;
  background: #00000070;
}


/* DESTINOS */

#ofertas {
  padding: 100px 40px;
}

#ofertas h2{
  font-size: 4rem;
}

#ofertas .ofertas {
  position: relative;
  z-index: 1;

}

#ofertas .imagen{
  position: relative;
  z-index: 3;
}

#ofertas .imagen a{
  position: absolute;
  z-index: 10;
  top: 43%;
  left: 31%;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 7px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  transform: scale(0);
  transition: .5s;
}


#ofertas .card:hover a{
  background: #00000063;
  box-shadow: 0 0 5px #fff;
  transform: scale(1);
}

#ofertas .card a:hover{
  cursor: url(../img/cursors/pointer.png), auto;
}



/* CONTACTO */
#contacto h2{
  font-size: 4rem;
}

#contacto input{
  padding: 10px;
}

#contacto input:focus,
#contacto textarea:focus{
  box-shadow: 0 0 10px #db6847;
}

#contacto .submit-btn{
  background: var(--red);
  font-size: 1.3rem;
  border-radius: 10px;
  transition: .5s;
}
#contacto .submit-btn:hover{
  transform: scale(.94);
  box-shadow: 0 0 10px #db6847;
  cursor: url(../img/cursors/pointer.png), auto;

}



/*=================== RESPONSIVE DESIGN =============================*/

@media screen and (max-width:992px) {
  .title-principal {
    text-align: center !important;
    margin-bottom: 50px;
  }
}



@media screen and (max-width:780px) {

  .swiper .swiper-button-next,
  .swiper .swiper-button-prev {
    display: none;
  }

  .title-principal {
    text-align: center !important;
    margin-bottom: 50px;
  }

}




@media screen and (max-width:580px) {

  body {
    overflow-x: hidden;
  }

  .hero {
    padding: 80px 40px 100px 40px;
  }


  .swiper {
    max-width: 1220px;
    width: 100%;
  }


  .swiper .swiper-button-next,
  .swiper .swiper-button-prev {
    display: none;
  }



}