@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');


:root{
  --blue-light: #c7f6ff;
  --gray-ligh: #ededed;
  --yellow: #caf74c;
  --red: #db6847;
  --dark: #000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(199,246,255,1) 100%);
  position: relative;
}

.hidden{
  display: none;
}

.minimizar{
  transform: scale(0);
}

.loader{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(199,246,255,1) 100%);
  position: absolute;
  top: 0;
  left: 0;
  transition: .5s;
  position: relative;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  padding:  10vh;
  color: var(--dark);


  >.content{

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #c7f6ff63;
    padding: 250px;

    >#load-airplane{
      width: 10vw;
      margin-bottom: 4vh;
      transform: rotate(90deg);
      animation: loader 3s infinite linear;
    }
    >h2{
      margin-left: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 5vw;
      padding-right: 2px;
      border-right: 3px solid #000;
      animation:efecto .7s step-end infinite;
    }
  }



}


@keyframes efecto {
  50%{
    border-color: transparent;
  }
}


@keyframes loader {
 from{
  transform: rotate(-360deg);
 }
 to{
  transform: rotate(0deg);
 }
}

