@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');


:root {
  --blue-light: #c7f6ff;
  --gray-ligh: #ededed;
  --yellow: #caf74c;
  --red: #db6847;
  --dark: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}



body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(199, 246, 255, 1) 100%);
  position: relative;
}

.overflow-body {
  overflow-y: hidden;
}

/*================================================================================*/
/* HEADER */
/*================================================================================*/


h1,
h2 {
  text-transform: uppercase;
}

.imagen {
  padding: 10px;
  border-radius: 10px;
}

.imagen img {
  border-radius: 10px;
}

.img-width {
  width: 100%;
  height: 174px;

}

.hidden {
  display: none;
}

.minimizar {
  animation: rotate 0.5s ease-in 1;
  transform: scale(0);
}

@keyframes rotate {
  to {
    transform: rotate(180deg) scale(0);
  }

  from {
    transform: rotate(360deg) scale(1);
  }
}


.loader {
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(199, 246, 255, 1) 100%);
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  transform: scale(1);
  top: 0;
  left: 0;
  /*corregir*/
  transition: .2s;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px;
  color: var(--dark);


  >.content {

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #c7f6ff63;
    padding: 150px;
    box-shadow: 0 0 10px #0000006e;
    transition: .8s;

    >#load-airplane {
      width: 20rem;
      margin-bottom: 4vh;
      transform: rotate(90deg);
      animation: loader 3s infinite linear;
    }

    >h2 {
      margin-left: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      margin-bottom: 40px;
      padding-right: 2px;
      padding-bottom: 30px;
      border-right: 3px solid #000;
      animation: efecto .7s step-end infinite;
    }
  }


}


.canvas-body {
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 49%, rgba(199, 246, 255, 1) 100%) !important;


  /* ESTILOS PARA EL HEADER DEL CANVAS DESPLEGABLE */
  >.offcanvas-header {

    >h5 {
      padding: 20px 30px;
    }
  }

  /* ESTILOS PARA EL CUERPO DEL CANVAS DESPLEGABLE */
  >.offcanvas-body {

    >ul {
      list-style: none;

      >li {
        padding: 20px 20px 20px 0;
        border-bottom: 1px solid #000;
      }

    }

  }

}


@keyframes efecto {
  50% {
    border-color: transparent;
  }
}



@keyframes loader {
  from {
    transform: rotate(-360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

nav {
  padding: 30px 10px !important;
}

h1 {
  font-size: 5rem;
}

.hero {
  padding: 80px 40px 200px 40px;
}

.title-principal {
  padding: 10px;
}

.title-principal p {
  margin-bottom: 40px;
}

.viaja-link {
  padding: 8px 40px;
  background: var(--blue-light);
  border-radius: 7px;
  color: var(--dark);
  transition: .5s;
  margin: 10px 0 !important;

  >a {
    text-decoration: none;
    font-weight: 500;
    color: var(--dark);
  }
}


.viaja-link:hover {
  box-shadow: 0px 0px 10px #db6847;
  padding: 12px 48px;
  background: #88d9e9;
}


.swiper {
  max-width: 1220px;
  width: 100%;
  padding-bottom: 80px !important;
}

.card {
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  padding: 20px;
  top: 50%;
  --swiper-navigation-size: 25px;
  --swiper-theme-color: #db674779;
  transition: .4s;
}

.swiper .swiper-button-next:hover,
.swiper .swiper-button-prev:hover {
  background: #c7f6ff;
}

.swiper .swiper-button-prev {
  border-radius: 50% 0% 0% 50%;
}

.swiper .swiper-button-next {
  border-radius: 0% 50% 50% 0%;
}

.swiper-pagination-bullet-active {
  background: #db6847 !important;
}


/*================================================================================*/
/* MAIN */
/*================================================================================*/


/* DESTINOS */
#destinos {
  margin-top: 40px;
  margin-right: 10px;
  padding: 50px 20px;
  border-radius: 10px;
  margin-left: 10px;
  transition: .5s;
}

#destinos h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

#destinos p {
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 24px;
}

.caption-carrusel {
  padding: 10px;
  border-radius: 8px;
  background: #00000070;
}


/* DESTINOS */

#ofertas {
  padding: 100px 40px;
}

#ofertas h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

#ofertas .ofertas {
  position: relative;
  z-index: 1;

}

#ofertas .imagen {
  position: relative;
  z-index: 3;
}

#ofertas .imagen a {
  position: absolute;
  z-index: 10;
  top: 43%;
  left: 31%;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  transform: scale(0);
  transition: .5s;
}


#ofertas .card:hover a {
  background: #00000063;
  box-shadow: 0 0 5px #fff;
  transform: scale(1);
}



/* CONTACTO */
#contacto h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

#contacto input {
  padding: 10px;
}

#contacto input:focus,
#contacto textarea:focus {
  box-shadow: 0 0 10px #db6847;
}

#contacto .submit-btn {
  background: var(--red);
  font-size: 1.3rem;
  border-radius: 10px;
  transition: .5s;
}

#contacto .submit-btn:hover {
  transform: scale(.94);
  box-shadow: 0 0 10px #db6847;
}



/* PREGUNTAS */
#preguntas {
  padding: 50px 20px;
  border-radius: 10px;
  margin-left: 10px;
  transition: .5s;
}

#preguntas:hover,
#destinos:hover,
#actividades:hover {
  box-shadow: 0 0 20px #00000067;

}


#preguntas .accordion .accordion-item {
  box-shadow: 0 0 10px #0000006f;
  transition: .5s;
}

#preguntas .accordion .accordion-item .accordion-button {
  background: radial-gradient(circle, rgba(199, 246, 255, 1) 0%, rgba(238, 174, 202, 1) 90%);
  font-weight: 500;
}

#preguntas .accordion .accordion-item .accordion-button:focus,
#preguntas .accordion .accordion-item .accordion-button:hover {
  box-shadow: 0 0 8px #c7f6ff;
  color: var(--dark);
}



/* PREGUNTAS */
#momentos {
  padding-top: 80px;
  padding-bottom: 80px;
}

/*=========================================================================================*/
/*=========================================================================================*/
/*=========================================================================================*/
/* ACTIVIDADES */
#actividades{
  margin-top: 100px;
  margin-right: 10px;
  padding: 50px 10px;
  border-radius: 10px;
  margin-left: 10px;
  transition: .5s;
}

#actividades .container-activity{
  padding: 40px;
  height: 400px;
  width: 300px;
  background-color: #00000054;
  border-radius: 20px;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#actividades .container-activity .content-activity{
  transform: translateZ(30px);
  width: 90%;
  height: 80%;
  background: linear-gradient(to right,  rgba(199, 246, 255, 1) 30%, rgba(238, 174, 202, 1)  100%) !important;
  color: var(--dark);
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 10px;
}

#actividades .container-activity:hover .content-activity{
  transform: translateZ(100px);

}

#actividades .container-activity .content-activity h2{
  padding: 15px;
}

#actividades .container-activity .content-activity p{
  margin-bottom: 10px !important;
  padding-bottom: 15px;
  
}


#actividades .container-activity .content-activity a{
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 10px;
  background: #000;
  color: #fff;
}


/*=========================================================================================*/
/*=========================================================================================*/
/*=========================================================================================*/







/*=================== RESPONSIVE DESIGN =============================*/

@media screen and (max-width:992px) {
  .title-principal {
    padding: 10px;
    text-align: center !important;
    margin-bottom: 50px;
  }
}



@media screen and (max-width:780px) {



  .loader {
    padding: 50px;

    >.content {
      padding: 70px;
      box-shadow: 0 0 10px #0000006e;

    }


  }

  .swiper .swiper-button-next,
  .swiper .swiper-button-prev {
    display: none;
  }

  .title-principal {
    padding: 5px;
    text-align: center !important;
    margin-bottom: 50px;
  }

}




@media screen and (max-width:580px) {

  .loader {
    padding: 20px;

    >.content {
      flex-direction: column;
      padding: 35px;
      box-shadow: 0 0 20px #0000006e;

      >#load-airplane {
        width: 15rem
      }

    }


  }


  body {
    overflow-x: hidden;
  }

  .hero {
    padding: 80px 40px 100px 40px;
  }

  h1{
    font-size: 3rem;
  }


  .swiper {
    max-width: 1220px;
    width: 100%;
  }


  .swiper .swiper-button-next,
  .swiper .swiper-button-prev {
    display: none;
  }


  #momentos,
  #preguntas {
    text-align: center !important;
  }


}